<h1>Edit User</h1>

<div id="container">
  <%= form_for @user do |f| %>
    <%= f.label(:username, "Username:") %>
    <%= f.text_field(:username) %>
    <%= f.label(:email, "Email Address:") %>
    <%= f.text_field(:email) %>
    <%= f.label(:password, "Password:") %>
    <%= f.password_field(:password) %>
    <%= f.submit('Submit') %>
  <% end %>

  <% if @user.errors.any? %>
    <div id="errors">
      <h3><%= pluralize(@user.errors.count, "error") %> prohibited this form from
      being saved.</h3>
      <ul>
        <% @user.errors.full_messages.each do |msg| %>
          <li><%= msg%></li>
        <% end %>
      </ul>
    </div>
  <% end %>
</div>